.el-collapse-item .el-collapse-item__header{
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px #888888;
  height: 70px;
  font-size: 16px;
}
.el-collapse-item .el-collapse-item__content{
  font-size: 15px;
}
